examples/beatgenerator.json
[{"id":"74cc8520.c2244c","type":"beat","z":"3615f6fe.3ec1aa","name":"","output":"beat","bpm":200,"latency":0,"subBeats":[],"x":280,"y":200,"wires":[["f23fac5f.67d59"]]},{"id":"e4634e66.bc054","type":"inject","z":"3615f6fe.3ec1aa","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":160,"wires":[["74cc8520.c2244c"]]},{"id":"6606b6c7.e03798","type":"inject","z":"3615f6fe.3ec1aa","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":200,"wires":[["74cc8520.c2244c"]]},{"id":"98e6b080.49ebe","type":"inject","z":"3615f6fe.3ec1aa","name":"","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":240,"wires":[["74cc8520.c2244c"]]},{"id":"f23fac5f.67d59","type":"divider","z":"3615f6fe.3ec1aa","name":"bar","input":"beat","output":"bar","ratio":4,"x":410,"y":200,"wires":[["4917f3ff.81774c"]]},{"id":"4917f3ff.81774c","type":"divider","z":"3615f6fe.3ec1aa","name":"section","input":"bar","output":"section","ratio":"8","x":560,"y":200,"wires":[["fec813a3.a17ac"]]},{"id":"fec813a3.a17ac","type":"link out","z":"3615f6fe.3ec1aa","name":"beat generator","links":[],"x":675,"y":200,"wires":[]}]