examples/component_drumbeat.json
[{"id":"2a8c11c5.86b2de","type":"switch","z":"5def44a.dac64bc","name":"beat of bar","property":"beat_of_bar","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","outputs":4,"x":370,"y":380,"wires":[["7cb63905.9109c8"],[],["e9d39f88.0b913"],["7cb63905.9109c8"]]},{"id":"19b5c75d.4d8d69","type":"link in","z":"5def44a.dac64bc","name":"","links":["295412dd.09f03e"],"x":195,"y":380,"wires":[["2a8c11c5.86b2de"]]},{"id":"fd2d499c.2bdfe8","type":"link out","z":"5def44a.dac64bc","name":"","links":["d2433512.362eb8"],"x":715,"y":380,"wires":[]},{"id":"7cb63905.9109c8","type":"synth","z":"5def44a.dac64bc","name":"","synthtype":"kick","filterTags":{},"volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"synthcontrols":{"mod_freq":"2","beater_noise":"0.05","pan":"0"},"x":550,"y":360,"wires":[["fd2d499c.2bdfe8"]]},{"id":"e9d39f88.0b913","type":"synth","z":"5def44a.dac64bc","name":"","synthtype":"sn","filterTags":{},"volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"synthcontrols":{"pan":"0"},"x":550,"y":400,"wires":[["fd2d499c.2bdfe8"]]}]