examples/component_drumbeat.json
[{"id":"aa866c06.42efa","type":"switch","z":"98a813ac.89ac4","name":"beat of bar","property":"beat_of_bar","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","outputs":4,"x":790,"y":300,"wires":[["fe8763f4.ea603"],[],["6e591447.e9550c"],["fe8763f4.ea603"]]},{"id":"2460cbee.32d2e4","type":"link in","z":"98a813ac.89ac4","name":"","links":["7da71b3.24302e4"],"x":615,"y":300,"wires":[["aa866c06.42efa"]]},{"id":"718e3a39.215194","type":"link out","z":"98a813ac.89ac4","name":"","links":["32bdefc0.f4888"],"x":1135,"y":300,"wires":[]},{"id":"fe8763f4.ea603","type":"synth","z":"98a813ac.89ac4","name":"","synthtype":"kick","tuned":"all","volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"synthtypes":{"ambi_choir":{},"ambi_dark_woosh":{},"ambi_drone":{"tuned":true,"midibase":60},"ambi_glass_hum":{"tuned":true,"midibase":57},"ambi_glass_rub":{"tuned":true,"midibase":66},"ambi_haunted_hum":{"tuned":true,"midibase":63.25},"ambi_lunar_land":{},"ambi_piano":{"tuned":true,"midibase":58},"ambi_sauna":{},"ambi_soft_buzz":{"tuned":true,"midibase":54.45},"ambi_swoosh":{},"arpy":{"tuned":true},"bass_dnb_f":{"tuned":true,"midibase":53},"bass_drop_c":{"tuned":true,"midibase":48},"bass_hard_c":{"tuned":true,"midibase":48},"bass_hit_c":{"tuned":true,"midibase":51},"bass_thick_c":{"tuned":true,"midibase":48},"bass_trance_c":{"tuned":true,"midibase":48},"bass_voxy_c":{"tuned":true,"midibase":48},"bass_voxy_hit_c":{"tuned":true,"midibase":48},"bass_woodsy_c":{"tuned":true,"midibase":48},"bd_808":{},"bd_ada":{},"bd_boom":{},"bd_fat":{},"bd_gas":{},"bd_haus":{},"bd_klub":{},"bd_mehackit":{},"bd_pure":{},"bd_sone":{},"bd_tek":{},"bd_zome":{},"bd_zum":{},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drum_bass_hard":{},"drum_bass_soft":{},"drum_cowbell":{},"drum_cymbal_closed":{},"drum_cymbal_hard":{},"drum_cymbal_open":{},"drum_cymbal_pedal":{},"drum_cymbal_soft":{},"drum_heavy_kick":{},"drum_roll":{},"drum_snare_hard":{},"drum_snare_soft":{},"drum_splash_hard":{},"drum_splash_soft":{},"drum_tom_hi_hard":{},"drum_tom_hi_soft":{},"drum_tom_lo_hard":{},"drum_tom_lo_soft":{},"drum_tom_mid_hard":{},"drum_tom_mid_soft":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"elec_beep":{},"elec_bell":{"tuned":true,"midibase":53},"elec_blip":{"tuned":true,"midibase":62},"elec_blip2":{"tuned":true,"midibase":62},"elec_blup":{},"elec_bong":{},"elec_chime":{},"elec_cymbal":{},"elec_filt_snare":{},"elec_flip":{"tuned":true,"midibase":60},"elec_fuzz_tom":{},"elec_hi_snare":{},"elec_hollow_kick":{},"elec_lo_snare":{},"elec_mid_snare":{},"elec_ping":{"tuned":true,"midibase":69},"elec_plip":{},"elec_pop":{"tuned":true,"midibase":60},"elec_snare":{},"elec_soft_kick":{"tuned":true,"midibase":41},"elec_tick":{"tuned":true,"midibase":60},"elec_triangle":{},"elec_twang":{},"elec_twip":{},"elec_wood":{},"feel":{},"flick":{"tuned":true},"fmtanh":{"tuned":true,"synth":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true},"glitch_bass_g":{"tuned":true,"midibase":55},"glitch_perc1":{},"glitch_perc2":{},"glitch_perc3":{},"glitch_perc4":{},"glitch_perc5":{},"glitch_robot1":{},"glitch_robot2":{},"gretsch":{},"guit_e_fifths":{"tuned":true,"midibase":52},"guit_e_slide":{"tuned":true,"midibase":64},"guit_em9":{"tuned":true,"midibase":52},"guit_harmonics":{"tuned":true,"midibase":64},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"mehackit_phone1":{},"mehackit_phone2":{},"mehackit_phone3":{},"mehackit_phone4":{},"mehackit_robot1":{},"mehackit_robot2":{},"mehackit_robot3":{},"mehackit_robot4":{},"mehackit_robot5":{},"mehackit_robot6":{},"mehackit_robot7":{},"metal":{},"misc_burp":{},"misc_cineboom":{},"misc_clap":{},"misc_crow":{},"moog":{"tuned":true,"synth":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"perc_bell":{},"perc_bell2":{},"perc_door":{},"perc_impact1":{},"perc_impact2":{},"perc_snap":{},"perc_snap2":{},"perc_swash":{},"perc_swoosh":{},"perc_till":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"sn_dolf":{},"sn_dub":{},"sn_generic":{},"sn_zome":{},"snare":{"synth":true},"stab":{},"tabla":{},"tabla_dhec":{},"tabla_ghe1":{},"tabla_ghe2":{},"tabla_ghe3":{},"tabla_ghe4":{},"tabla_ghe5":{},"tabla_ghe6":{},"tabla_ghe7":{},"tabla_ghe8":{},"tabla_ke1":{},"tabla_ke2":{},"tabla_ke3":{},"tabla_na":{},"tabla_na_o":{},"tabla_na_s":{},"tabla_re":{},"tabla_tas1":{},"tabla_tas2":{},"tabla_tas3":{},"tabla_te1":{},"tabla_te2":{},"tabla_te_m":{},"tabla_te_ne":{},"tabla_tun1":{},"tabla_tun2":{},"tabla_tun3":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"vinyl_backspin":{},"vinyl_hiss":{},"vinyl_rewind":{},"vinyl_scratch":{},"voodoo":{}},"x":990,"y":280,"wires":[["718e3a39.215194"]]},{"id":"6e591447.e9550c","type":"synth","z":"98a813ac.89ac4","name":"","synthtype":"snare","tuned":"all","volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"synthtypes":{"ambi_choir":{},"ambi_dark_woosh":{},"ambi_drone":{"tuned":true,"midibase":60},"ambi_glass_hum":{"tuned":true,"midibase":57},"ambi_glass_rub":{"tuned":true,"midibase":66},"ambi_haunted_hum":{"tuned":true,"midibase":63.25},"ambi_lunar_land":{},"ambi_piano":{"tuned":true,"midibase":58},"ambi_sauna":{},"ambi_soft_buzz":{"tuned":true,"midibase":54.45},"ambi_swoosh":{},"arpy":{"tuned":true},"bass_dnb_f":{"tuned":true,"midibase":53},"bass_drop_c":{"tuned":true,"midibase":48},"bass_hard_c":{"tuned":true,"midibase":48},"bass_hit_c":{"tuned":true,"midibase":51},"bass_thick_c":{"tuned":true,"midibase":48},"bass_trance_c":{"tuned":true,"midibase":48},"bass_voxy_c":{"tuned":true,"midibase":48},"bass_voxy_hit_c":{"tuned":true,"midibase":48},"bass_woodsy_c":{"tuned":true,"midibase":48},"bd_808":{},"bd_ada":{},"bd_boom":{},"bd_fat":{},"bd_gas":{},"bd_haus":{},"bd_klub":{},"bd_mehackit":{},"bd_pure":{},"bd_sone":{},"bd_tek":{},"bd_zome":{},"bd_zum":{},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drum_bass_hard":{},"drum_bass_soft":{},"drum_cowbell":{},"drum_cymbal_closed":{},"drum_cymbal_hard":{},"drum_cymbal_open":{},"drum_cymbal_pedal":{},"drum_cymbal_soft":{},"drum_heavy_kick":{},"drum_roll":{},"drum_snare_hard":{},"drum_snare_soft":{},"drum_splash_hard":{},"drum_splash_soft":{},"drum_tom_hi_hard":{},"drum_tom_hi_soft":{},"drum_tom_lo_hard":{},"drum_tom_lo_soft":{},"drum_tom_mid_hard":{},"drum_tom_mid_soft":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"elec_beep":{},"elec_bell":{"tuned":true,"midibase":53},"elec_blip":{"tuned":true,"midibase":62},"elec_blip2":{"tuned":true,"midibase":62},"elec_blup":{},"elec_bong":{},"elec_chime":{},"elec_cymbal":{},"elec_filt_snare":{},"elec_flip":{"tuned":true,"midibase":60},"elec_fuzz_tom":{},"elec_hi_snare":{},"elec_hollow_kick":{},"elec_lo_snare":{},"elec_mid_snare":{},"elec_ping":{"tuned":true,"midibase":69},"elec_plip":{},"elec_pop":{"tuned":true,"midibase":60},"elec_snare":{},"elec_soft_kick":{"tuned":true,"midibase":41},"elec_tick":{"tuned":true,"midibase":60},"elec_triangle":{},"elec_twang":{},"elec_twip":{},"elec_wood":{},"feel":{},"flick":{"tuned":true},"fmtanh":{"tuned":true,"synth":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true},"glitch_bass_g":{"tuned":true,"midibase":55},"glitch_perc1":{},"glitch_perc2":{},"glitch_perc3":{},"glitch_perc4":{},"glitch_perc5":{},"glitch_robot1":{},"glitch_robot2":{},"gretsch":{},"guit_e_fifths":{"tuned":true,"midibase":52},"guit_e_slide":{"tuned":true,"midibase":64},"guit_em9":{"tuned":true,"midibase":52},"guit_harmonics":{"tuned":true,"midibase":64},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"mehackit_phone1":{},"mehackit_phone2":{},"mehackit_phone3":{},"mehackit_phone4":{},"mehackit_robot1":{},"mehackit_robot2":{},"mehackit_robot3":{},"mehackit_robot4":{},"mehackit_robot5":{},"mehackit_robot6":{},"mehackit_robot7":{},"metal":{},"misc_burp":{},"misc_cineboom":{},"misc_clap":{},"misc_crow":{},"moog":{"tuned":true,"synth":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"perc_bell":{},"perc_bell2":{},"perc_door":{},"perc_impact1":{},"perc_impact2":{},"perc_snap":{},"perc_snap2":{},"perc_swash":{},"perc_swoosh":{},"perc_till":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"sn_dolf":{},"sn_dub":{},"sn_generic":{},"sn_zome":{},"snare":{"synth":true},"stab":{},"tabla":{},"tabla_dhec":{},"tabla_ghe1":{},"tabla_ghe2":{},"tabla_ghe3":{},"tabla_ghe4":{},"tabla_ghe5":{},"tabla_ghe6":{},"tabla_ghe7":{},"tabla_ghe8":{},"tabla_ke1":{},"tabla_ke2":{},"tabla_ke3":{},"tabla_na":{},"tabla_na_o":{},"tabla_na_s":{},"tabla_re":{},"tabla_tas1":{},"tabla_tas2":{},"tabla_tas3":{},"tabla_te1":{},"tabla_te2":{},"tabla_te_m":{},"tabla_te_ne":{},"tabla_tun1":{},"tabla_tun2":{},"tabla_tun3":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"vinyl_backspin":{},"vinyl_hiss":{},"vinyl_rewind":{},"vinyl_scratch":{},"voodoo":{}},"x":990,"y":320,"wires":[["718e3a39.215194"]]}]