examples/component_drumbeat.json
[{"id":"6e4d1377.be840c","type":"switch","z":"5def44a.dac64bc","name":"beat of bar","property":"beat_of_bar","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","outputs":4,"x":310,"y":340,"wires":[["7330eccc.ebf2f4"],[],["3863147b.8a1dbc"],["7330eccc.ebf2f4"]]},{"id":"27b97e1d.3a34d2","type":"link in","z":"5def44a.dac64bc","name":"","links":["7da71b3.24302e4"],"x":135,"y":340,"wires":[["6e4d1377.be840c"]]},{"id":"a8399fc3.f3731","type":"link out","z":"5def44a.dac64bc","name":"","links":["32bdefc0.f4888"],"x":655,"y":340,"wires":[]},{"id":"3863147b.8a1dbc","type":"synth","z":"5def44a.dac64bc","name":"","synthtype":"sn","tuned":"all","volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"x":510,"y":360,"wires":[["a8399fc3.f3731"]]},{"id":"7330eccc.ebf2f4","type":"synth","z":"5def44a.dac64bc","name":"","synthtype":"kick","tuned":"all","volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"x":510,"y":320,"wires":[["a8399fc3.f3731"]]}]