examples/component_settings.json
[{"id":"3e6b7434.a83cfc","type":"setting","z":"6ba299d1.c9e178","name":"","setting":"key","initial":"C minor","context":"global","min":"","max":"","x":630,"y":680,"wires":[[]]},{"id":"348e8c38.9b3a04","type":"inject","z":"6ba299d1.c9e178","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"up","payload":"5","payloadType":"num","x":490,"y":380,"wires":[["8160864.017e478"]]},{"id":"52ac84b1.b6822c","type":"inject","z":"6ba299d1.c9e178","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"down","payload":"5","payloadType":"num","x":490,"y":420,"wires":[["8160864.017e478"]]},{"id":"8160864.017e478","type":"setting","z":"6ba299d1.c9e178","name":"","setting":"bpm","initial":"100","context":"global","min":"10","max":"1000","x":630,"y":380,"wires":[["6a2eb4f8.35f40c"]]},{"id":"6a2eb4f8.35f40c","type":"ui_slider","z":"6ba299d1.c9e178","name":"","label":"bpm","group":"d074a7d6.df6aa8","order":0,"width":0,"height":0,"passthru":true,"topic":"bpm","min":"10","max":"1000","step":1,"x":630,"y":320,"wires":[["8160864.017e478"]]},{"id":"a138d397.eee74","type":"inject","z":"6ba299d1.c9e178","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"up","payload":"5","payloadType":"num","x":490,"y":540,"wires":[["d640bf19.07782"]]},{"id":"40efb63.4f31a48","type":"inject","z":"6ba299d1.c9e178","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"down","payload":"5","payloadType":"num","x":490,"y":580,"wires":[["d640bf19.07782"]]},{"id":"d640bf19.07782","type":"setting","z":"6ba299d1.c9e178","name":"","setting":"volume","initial":"50","context":"global","min":"0","max":"100","x":640,"y":540,"wires":[["cf6061f9.0fb04"]]},{"id":"cf6061f9.0fb04","type":"ui_slider","z":"6ba299d1.c9e178","name":"","label":"volume","group":"d074a7d6.df6aa8","order":0,"width":0,"height":0,"passthru":true,"topic":"volume","min":"0","max":"100","step":1,"x":640,"y":480,"wires":[["d640bf19.07782"]]},{"id":"d074a7d6.df6aa8","type":"ui_group","name":"Default","tab":"f575f16e.8cc13","disp":true,"width":"6","collapse":false},{"id":"f575f16e.8cc13","type":"ui_tab","name":"Home","icon":"dashboard"}]