examples/component_looper.json
[{"id":"5cfa1db3.0c46c4","type":"link in","z":"9d69cd1.326e73","name":"","links":["19d602f8.87a00d"],"x":95,"y":1040,"wires":[["c7d92f99.928ee"]]},{"id":"c7d92f99.928ee","type":"looper","z":"9d69cd1.326e73","name":"looper","volume":"75","input":"beat","length":"4","start":"bar","loop":true,"x":270,"y":1040,"wires":[["e819bf10.f65dd"]]},{"id":"f50c2cdc.699a7","type":"inject","z":"9d69cd1.326e73","name":"","topic":"","payload":"record","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":920,"wires":[["c7d92f99.928ee"]]},{"id":"3533c64.08f9a3a","type":"inject","z":"9d69cd1.326e73","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":960,"wires":[["c7d92f99.928ee"]]},{"id":"6d7a9d36.de72a4","type":"inject","z":"9d69cd1.326e73","name":"","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1000,"wires":[["c7d92f99.928ee"]]},{"id":"a1be039f.8d6d8","type":"inject","z":"9d69cd1.326e73","name":"","topic":"","payload":"play","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":880,"wires":[["c7d92f99.928ee"]]},{"id":"e819bf10.f65dd","type":"link out","z":"9d69cd1.326e73","name":"","links":["b34e7bcc.fafd78"],"x":375,"y":1040,"wires":[]}]