examples/component_semisplit.json
[{"id":"1bbc1905.a6da17","type":"switch","z":"6d0f7a68.138784","name":"beat of bar","property":"beat_of_bar","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":290,"y":180,"wires":[["9e44428d.c2cd"],["ed620425.47cd08"],["f734cdb8.005dc"],["372d4e69.a4a092"]]},{"id":"52699e6a.2c8e4","type":"link in","z":"6d0f7a68.138784","name":"","links":["467784bc.dcbf2c"],"x":35,"y":180,"wires":[["11712c5a.4a83b4"]]},{"id":"9e44428d.c2cd","type":"switch","z":"6d0f7a68.138784","name":"semi","property":"semi","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":470,"y":60,"wires":[["dbf1759f.db4228"],[],[],[]]},{"id":"ed620425.47cd08","type":"switch","z":"6d0f7a68.138784","name":"semi","property":"semi","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":470,"y":140,"wires":[["87f1135d.b4a6e"],["144e2518.1ac4ab"],["144e2518.1ac4ab"],["144e2518.1ac4ab"]]},{"id":"f734cdb8.005dc","type":"switch","z":"6d0f7a68.138784","name":"semi","property":"semi","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":470,"y":220,"wires":[["144e2518.1ac4ab","87f1135d.b4a6e"],[],["144e2518.1ac4ab"],["144e2518.1ac4ab"]]},{"id":"372d4e69.a4a092","type":"switch","z":"6d0f7a68.138784","name":"semi","property":"semi","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":470,"y":300,"wires":[["85bc71a6.021db"],["85bc71a6.021db"],[],[]]},{"id":"11712c5a.4a83b4","type":"switch","z":"6d0f7a68.138784","name":"semi only","property":"start","propertyType":"msg","rules":[{"t":"cont","v":"semi","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":140,"y":180,"wires":[["1bbc1905.a6da17"]]}]