examples/drumbeat.json
[{"id":"36b35abd.2691d6","type":"switch","z":"d9aabcfa.c7112","name":"beat of bar","property":"beat_of_bar","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","outputs":4,"x":470,"y":520,"wires":[["50ddf0ec.8bb18"],[],["d780fa29.a1e068"],["50ddf0ec.8bb18"]]},{"id":"d780fa29.a1e068","type":"synth","z":"d9aabcfa.c7112","name":"","synthtype":"snare","volume":50,"octave":0,"root":"","scale":"default","outBus":0,"synthtypes":{"arpy":{"tuned":true},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cp":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"feel":{},"flick":{"tuned":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true,"sustained":true},"gretsch":{},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"metal":{},"moog":{"tuned":true,"synth":true,"sustained":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true,"sustained":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"snare":{"synth":true},"stab":{},"tabla":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"voodoo":{}},"x":670,"y":540,"wires":[["d613ca4c.61a728"]]},{"id":"8243efd3.79eb9","type":"link in","z":"d9aabcfa.c7112","name":"","links":["8106bf1e.2f3a7"],"x":295,"y":520,"wires":[["36b35abd.2691d6"]]},{"id":"d613ca4c.61a728","type":"link out","z":"d9aabcfa.c7112","name":"","links":["385e60c5.405df"],"x":815,"y":520,"wires":[]},{"id":"50ddf0ec.8bb18","type":"synth","z":"d9aabcfa.c7112","name":"","synthtype":"kick","tuned":"untuned","volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"synthtypes":{"arpy":{"tuned":true},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cp":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"feel":{},"flick":{"tuned":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true},"gretsch":{},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"metal":{},"moog":{"tuned":true,"synth":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"snare":{"synth":true},"stab":{},"tabla":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"voodoo":{}},"x":670,"y":500,"wires":[["d613ca4c.61a728"]]}]