examples/drumbeat.json
[{"id":"fa1116fb.fc72f8","type":"switch","z":"283e2935.a754d6","name":"beat of bar","property":"beat_of_bar","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","outputs":4,"x":250,"y":240,"wires":[["7208916.684f07"],[],["846a581d.56a4c8"],["7208916.684f07"]]},{"id":"7208916.684f07","type":"synth","z":"283e2935.a754d6","name":"","synthtype":"kick","volume":50,"octave":0,"root":"","scale":"default","outBus":0,"synthtypes":{"arpy":{"tuned":true},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cp":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"feel":{},"flick":{"tuned":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true,"sustained":true},"gretsch":{},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"metal":{},"moog":{"tuned":true,"synth":true,"sustained":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true,"sustained":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"snare":{"synth":true},"stab":{},"tabla":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"voodoo":{}},"x":450,"y":220,"wires":[["b36cf2e7.f5408","bdc138e5.a42528"]]},{"id":"846a581d.56a4c8","type":"synth","z":"283e2935.a754d6","name":"","synthtype":"snare","volume":50,"octave":0,"root":"","scale":"default","outBus":0,"synthtypes":{"arpy":{"tuned":true},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cp":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"feel":{},"flick":{"tuned":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true,"sustained":true},"gretsch":{},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"metal":{},"moog":{"tuned":true,"synth":true,"sustained":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true,"sustained":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"snare":{"synth":true},"stab":{},"tabla":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"voodoo":{}},"x":450,"y":260,"wires":[["b36cf2e7.f5408","bdc138e5.a42528"]]},{"id":"50b18e8d.7d398","type":"link in","z":"283e2935.a754d6","name":"","links":[],"x":75,"y":240,"wires":[["fa1116fb.fc72f8"]]},{"id":"b36cf2e7.f5408","type":"link out","z":"283e2935.a754d6","name":"","links":[],"x":595,"y":240,"wires":[]}]