examples/example_fancybeat.json
[{"id":"1cfe8b71.b285a5","type":"beat","z":"5def44a.dac64bc","name":"","output":"beat","bpm":"200","latency":"0","subBeats":[{"name":"quaver","count":"2"}],"x":250,"y":140,"wires":[["86ee7ad1.d91a58"]]},{"id":"e8fad915.0134b8","type":"inject","z":"5def44a.dac64bc","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":100,"wires":[["1cfe8b71.b285a5"]]},{"id":"227431ad.bdbfae","type":"inject","z":"5def44a.dac64bc","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":140,"wires":[["1cfe8b71.b285a5"]]},{"id":"cc2a380d.7d41b8","type":"inject","z":"5def44a.dac64bc","name":"","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":180,"wires":[["1cfe8b71.b285a5"]]},{"id":"86ee7ad1.d91a58","type":"divider","z":"5def44a.dac64bc","name":"bar","input":"beat","output":"bar","ratio":"7","x":380,"y":140,"wires":[["1716bebc.8e9b81"]]},{"id":"1716bebc.8e9b81","type":"divider","z":"5def44a.dac64bc","name":"section","input":"bar","output":"section","ratio":"4","x":530,"y":140,"wires":[["ff5662dd.5e863"]]},{"id":"ff5662dd.5e863","type":"link out","z":"5def44a.dac64bc","name":"beat generator","links":["8243efd3.79eb9","96f62962.7de988","47574d38.834f34","2ee9236a.702efc"],"x":645,"y":140,"wires":[]},{"id":"631f4d17.5cab84","type":"udp out","z":"5def44a.dac64bc","name":"","addr":"127.0.0.1","iface":"","port":"57110","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":600,"y":540,"wires":[]},{"id":"d4a13e91.fc1d8","type":"osc","z":"5def44a.dac64bc","name":"","path":"","metadata":false,"x":380,"y":540,"wires":[["631f4d17.5cab84"]]},{"id":"c6aaeee2.62e22","type":"link in","z":"5def44a.dac64bc","name":"supercollider","links":["d613ca4c.61a728","abf016fe.62ad58","37d29f94.7eedf","72211801.15fc78"],"x":265,"y":540,"wires":[["d4a13e91.fc1d8"]]},{"id":"5c8c0c9d.b31fa4","type":"switch","z":"5def44a.dac64bc","name":"beat of bar","property":"beat_of_bar","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"}],"checkall":"true","outputs":7,"x":390,"y":300,"wires":[["94130ac.090a3f8"],["c9036cb0.295ce"],["94130ac.090a3f8"],[],["94130ac.090a3f8"],["4a0f0910.119bb8"],["84b16884.232918"]]},{"id":"2ee9236a.702efc","type":"link in","z":"5def44a.dac64bc","name":"","links":["ff5662dd.5e863"],"x":95,"y":300,"wires":[["7ef49e0b.aa218"]]},{"id":"72211801.15fc78","type":"link out","z":"5def44a.dac64bc","name":"","links":["c6aaeee2.62e22"],"x":875,"y":300,"wires":[]},{"id":"94130ac.090a3f8","type":"switch","z":"5def44a.dac64bc","name":"beat","property":"start","propertyType":"msg","rules":[{"t":"cont","v":"beat","vt":"str"}],"checkall":"true","outputs":1,"x":550,"y":240,"wires":[["2be300f7.d8b85","84b16884.232918"]]},{"id":"7ef49e0b.aa218","type":"switch","z":"5def44a.dac64bc","name":"","property":"bar_of_section","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":200,"y":300,"wires":[["5c8c0c9d.b31fa4","4ef8a9c7.2bd898"],["5c8c0c9d.b31fa4"]]},{"id":"2be300f7.d8b85","type":"synth","z":"5def44a.dac64bc","name":"","synthtype":"moog","tuned":"all","volume":50,"octave":"-2","root":"","scale":"","degree":"","outBus":0,"x":710,"y":240,"wires":[["72211801.15fc78"]]},{"id":"84b16884.232918","type":"synth","z":"5def44a.dac64bc","name":"","synthtype":"kick","tuned":"all","volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"x":710,"y":280,"wires":[["72211801.15fc78"]]},{"id":"c9036cb0.295ce","type":"synth","z":"5def44a.dac64bc","name":"","synthtype":"misc_clap","tuned":"all","volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"x":720,"y":320,"wires":[["72211801.15fc78"]]},{"id":"4a0f0910.119bb8","type":"synth","z":"5def44a.dac64bc","name":"","synthtype":"kick","tuned":"all","volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"x":710,"y":360,"wires":[["72211801.15fc78"]]},{"id":"4ef8a9c7.2bd898","type":"synth","z":"5def44a.dac64bc","name":"","synthtype":"tabla","tuned":"all","volume":"75","octave":0,"root":"","scale":"","degree":"","outBus":0,"x":370,"y":400,"wires":[["d4a13e91.fc1d8"]]}]