examples/example_fancybeat.json
[{"id":"7bd1a412.97c4ac","type":"synth","z":"98a813ac.89ac4","name":"","synthtype":"tabla","tuned":"untuned","volume":"75","octave":0,"root":"","scale":"","degree":"","outBus":0,"synthtypes":{"ambi_choir":{},"ambi_dark_woosh":{},"ambi_drone":{"tuned":true,"midibase":60},"ambi_glass_hum":{"tuned":true,"midibase":57},"ambi_glass_rub":{"tuned":true,"midibase":66},"ambi_haunted_hum":{"tuned":true,"midibase":63.25},"ambi_lunar_land":{},"ambi_piano":{"tuned":true,"midibase":58},"ambi_sauna":{},"ambi_soft_buzz":{"tuned":true,"midibase":54.45},"ambi_swoosh":{},"arpy":{"tuned":true},"bass_dnb_f":{"tuned":true,"midibase":53},"bass_drop_c":{"tuned":true,"midibase":48},"bass_hard_c":{"tuned":true,"midibase":48},"bass_hit_c":{"tuned":true,"midibase":51},"bass_thick_c":{"tuned":true,"midibase":48},"bass_trance_c":{"tuned":true,"midibase":48},"bass_voxy_c":{"tuned":true,"midibase":48},"bass_voxy_hit_c":{"tuned":true,"midibase":48},"bass_woodsy_c":{"tuned":true,"midibase":48},"bd_808":{},"bd_ada":{},"bd_boom":{},"bd_fat":{},"bd_gas":{},"bd_haus":{},"bd_klub":{},"bd_mehackit":{},"bd_pure":{},"bd_sone":{},"bd_tek":{},"bd_zome":{},"bd_zum":{},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drum_bass_hard":{},"drum_bass_soft":{},"drum_cowbell":{},"drum_cymbal_closed":{},"drum_cymbal_hard":{},"drum_cymbal_open":{},"drum_cymbal_pedal":{},"drum_cymbal_soft":{},"drum_heavy_kick":{},"drum_roll":{},"drum_snare_hard":{},"drum_snare_soft":{},"drum_splash_hard":{},"drum_splash_soft":{},"drum_tom_hi_hard":{},"drum_tom_hi_soft":{},"drum_tom_lo_hard":{},"drum_tom_lo_soft":{},"drum_tom_mid_hard":{},"drum_tom_mid_soft":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"elec_beep":{},"elec_bell":{"tuned":true,"midibase":53},"elec_blip":{"tuned":true,"midibase":62},"elec_blip2":{"tuned":true,"midibase":62},"elec_blup":{},"elec_bong":{},"elec_chime":{},"elec_cymbal":{},"elec_filt_snare":{},"elec_flip":{"tuned":true,"midibase":60},"elec_fuzz_tom":{},"elec_hi_snare":{},"elec_hollow_kick":{},"elec_lo_snare":{},"elec_mid_snare":{},"elec_ping":{"tuned":true,"midibase":69},"elec_plip":{},"elec_pop":{"tuned":true,"midibase":60},"elec_snare":{},"elec_soft_kick":{"tuned":true,"midibase":41},"elec_tick":{"tuned":true,"midibase":60},"elec_triangle":{},"elec_twang":{},"elec_twip":{},"elec_wood":{},"feel":{},"flick":{"tuned":true},"fmtanh":{"tuned":true,"synth":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true},"glitch_bass_g":{"tuned":true,"midibase":55},"glitch_perc1":{},"glitch_perc2":{},"glitch_perc3":{},"glitch_perc4":{},"glitch_perc5":{},"glitch_robot1":{},"glitch_robot2":{},"gretsch":{},"guit_e_fifths":{"tuned":true,"midibase":52},"guit_e_slide":{"tuned":true,"midibase":64},"guit_em9":{"tuned":true,"midibase":52},"guit_harmonics":{"tuned":true,"midibase":64},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"mehackit_phone1":{},"mehackit_phone2":{},"mehackit_phone3":{},"mehackit_phone4":{},"mehackit_robot1":{},"mehackit_robot2":{},"mehackit_robot3":{},"mehackit_robot4":{},"mehackit_robot5":{},"mehackit_robot6":{},"mehackit_robot7":{},"metal":{},"misc_burp":{},"misc_cineboom":{},"misc_clap":{},"misc_crow":{},"moog":{"tuned":true,"synth":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"perc_bell":{},"perc_bell2":{},"perc_door":{},"perc_impact1":{},"perc_impact2":{},"perc_snap":{},"perc_snap2":{},"perc_swash":{},"perc_swoosh":{},"perc_till":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"sn_dolf":{},"sn_dub":{},"sn_generic":{},"sn_zome":{},"snare":{"synth":true},"stab":{},"tabla":{},"tabla_dhec":{},"tabla_ghe1":{},"tabla_ghe2":{},"tabla_ghe3":{},"tabla_ghe4":{},"tabla_ghe5":{},"tabla_ghe6":{},"tabla_ghe7":{},"tabla_ghe8":{},"tabla_ke1":{},"tabla_ke2":{},"tabla_ke3":{},"tabla_na":{},"tabla_na_o":{},"tabla_na_s":{},"tabla_re":{},"tabla_tas1":{},"tabla_tas2":{},"tabla_tas3":{},"tabla_te1":{},"tabla_te2":{},"tabla_te_m":{},"tabla_te_ne":{},"tabla_tun1":{},"tabla_tun2":{},"tabla_tun3":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"vinyl_backspin":{},"vinyl_hiss":{},"vinyl_rewind":{},"vinyl_scratch":{},"voodoo":{}},"x":730,"y":580,"wires":[["f5a8e225.e7674"]]},{"id":"f346837f.a2317","type":"beat","z":"98a813ac.89ac4","name":"","output":"beat","bpm":"200","latency":"0","subBeats":[{"name":"quaver","count":"2"}],"x":610,"y":320,"wires":[["66ec6d84.b0ee04"]]},{"id":"d9bc797.de5bf88","type":"inject","z":"98a813ac.89ac4","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":460,"y":280,"wires":[["f346837f.a2317"]]},{"id":"e74c4aa5.984668","type":"inject","z":"98a813ac.89ac4","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":460,"y":320,"wires":[["f346837f.a2317"]]},{"id":"602ba60.51c465c","type":"inject","z":"98a813ac.89ac4","name":"","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"x":460,"y":360,"wires":[["f346837f.a2317"]]},{"id":"66ec6d84.b0ee04","type":"divider","z":"98a813ac.89ac4","name":"bar","input":"beat","output":"bar","ratio":"7","x":740,"y":320,"wires":[["bf619ab2.2185a8"]]},{"id":"bf619ab2.2185a8","type":"divider","z":"98a813ac.89ac4","name":"section","input":"bar","output":"section","ratio":"4","x":890,"y":320,"wires":[["b5be563a.da7948"]]},{"id":"b5be563a.da7948","type":"link out","z":"98a813ac.89ac4","name":"beat generator","links":["8243efd3.79eb9","96f62962.7de988","47574d38.834f34","9095e898.8a6518"],"x":1005,"y":320,"wires":[]},{"id":"1460a1bb.4bddde","type":"udp out","z":"98a813ac.89ac4","name":"","addr":"127.0.0.1","iface":"","port":"57110","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":960,"y":720,"wires":[]},{"id":"f5a8e225.e7674","type":"osc","z":"98a813ac.89ac4","name":"","path":"","metadata":false,"x":740,"y":720,"wires":[["1460a1bb.4bddde"]]},{"id":"bd46161.a5673e8","type":"link in","z":"98a813ac.89ac4","name":"supercollider","links":["d613ca4c.61a728","abf016fe.62ad58","37d29f94.7eedf","c3452eae.7905f"],"x":625,"y":720,"wires":[["f5a8e225.e7674"]]},{"id":"b6a7cf46.9f549","type":"switch","z":"98a813ac.89ac4","name":"beat of bar","property":"beat_of_bar","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"}],"checkall":"true","outputs":7,"x":750,"y":480,"wires":[["ea19f8e5.c44558"],["eb84a703.a0b8d8"],["ea19f8e5.c44558"],[],["ea19f8e5.c44558"],["b0722ecd.dee14"],["db510773.4e1a08"]]},{"id":"9095e898.8a6518","type":"link in","z":"98a813ac.89ac4","name":"","links":["b5be563a.da7948"],"x":455,"y":480,"wires":[["ac69dc25.f7d73"]]},{"id":"c3452eae.7905f","type":"link out","z":"98a813ac.89ac4","name":"","links":["bd46161.a5673e8"],"x":1235,"y":480,"wires":[]},{"id":"ea19f8e5.c44558","type":"switch","z":"98a813ac.89ac4","name":"beat","property":"start","propertyType":"msg","rules":[{"t":"cont","v":"beat","vt":"str"}],"checkall":"true","outputs":1,"x":910,"y":420,"wires":[["fc6398c0.71d1b8","db510773.4e1a08"]]},{"id":"ac69dc25.f7d73","type":"switch","z":"98a813ac.89ac4","name":"","property":"bar_of_section","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":560,"y":480,"wires":[["b6a7cf46.9f549","7bd1a412.97c4ac"],["b6a7cf46.9f549"]]},{"id":"fc6398c0.71d1b8","type":"synth","z":"98a813ac.89ac4","name":"","synthtype":"moog","tuned":"tuned","volume":50,"octave":"-2","root":"","scale":"","degree":"","outBus":0,"synthtypes":{"ambi_choir":{},"ambi_dark_woosh":{},"ambi_drone":{"tuned":true,"midibase":60},"ambi_glass_hum":{"tuned":true,"midibase":57},"ambi_glass_rub":{"tuned":true,"midibase":66},"ambi_haunted_hum":{"tuned":true,"midibase":63.25},"ambi_lunar_land":{},"ambi_piano":{"tuned":true,"midibase":58},"ambi_sauna":{},"ambi_soft_buzz":{"tuned":true,"midibase":54.45},"ambi_swoosh":{},"arpy":{"tuned":true},"bass_dnb_f":{"tuned":true,"midibase":53},"bass_drop_c":{"tuned":true,"midibase":48},"bass_hard_c":{"tuned":true,"midibase":48},"bass_hit_c":{"tuned":true,"midibase":51},"bass_thick_c":{"tuned":true,"midibase":48},"bass_trance_c":{"tuned":true,"midibase":48},"bass_voxy_c":{"tuned":true,"midibase":48},"bass_voxy_hit_c":{"tuned":true,"midibase":48},"bass_woodsy_c":{"tuned":true,"midibase":48},"bd_808":{},"bd_ada":{},"bd_boom":{},"bd_fat":{},"bd_gas":{},"bd_haus":{},"bd_klub":{},"bd_mehackit":{},"bd_pure":{},"bd_sone":{},"bd_tek":{},"bd_zome":{},"bd_zum":{},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drum_bass_hard":{},"drum_bass_soft":{},"drum_cowbell":{},"drum_cymbal_closed":{},"drum_cymbal_hard":{},"drum_cymbal_open":{},"drum_cymbal_pedal":{},"drum_cymbal_soft":{},"drum_heavy_kick":{},"drum_roll":{},"drum_snare_hard":{},"drum_snare_soft":{},"drum_splash_hard":{},"drum_splash_soft":{},"drum_tom_hi_hard":{},"drum_tom_hi_soft":{},"drum_tom_lo_hard":{},"drum_tom_lo_soft":{},"drum_tom_mid_hard":{},"drum_tom_mid_soft":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"elec_beep":{},"elec_bell":{"tuned":true,"midibase":53},"elec_blip":{"tuned":true,"midibase":62},"elec_blip2":{"tuned":true,"midibase":62},"elec_blup":{},"elec_bong":{},"elec_chime":{},"elec_cymbal":{},"elec_filt_snare":{},"elec_flip":{"tuned":true,"midibase":60},"elec_fuzz_tom":{},"elec_hi_snare":{},"elec_hollow_kick":{},"elec_lo_snare":{},"elec_mid_snare":{},"elec_ping":{"tuned":true,"midibase":69},"elec_plip":{},"elec_pop":{"tuned":true,"midibase":60},"elec_snare":{},"elec_soft_kick":{"tuned":true,"midibase":41},"elec_tick":{"tuned":true,"midibase":60},"elec_triangle":{},"elec_twang":{},"elec_twip":{},"elec_wood":{},"feel":{},"flick":{"tuned":true},"fmtanh":{"tuned":true,"synth":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true},"glitch_bass_g":{"tuned":true,"midibase":55},"glitch_perc1":{},"glitch_perc2":{},"glitch_perc3":{},"glitch_perc4":{},"glitch_perc5":{},"glitch_robot1":{},"glitch_robot2":{},"gretsch":{},"guit_e_fifths":{"tuned":true,"midibase":52},"guit_e_slide":{"tuned":true,"midibase":64},"guit_em9":{"tuned":true,"midibase":52},"guit_harmonics":{"tuned":true,"midibase":64},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"mehackit_phone1":{},"mehackit_phone2":{},"mehackit_phone3":{},"mehackit_phone4":{},"mehackit_robot1":{},"mehackit_robot2":{},"mehackit_robot3":{},"mehackit_robot4":{},"mehackit_robot5":{},"mehackit_robot6":{},"mehackit_robot7":{},"metal":{},"misc_burp":{},"misc_cineboom":{},"misc_clap":{},"misc_crow":{},"moog":{"tuned":true,"synth":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"perc_bell":{},"perc_bell2":{},"perc_door":{},"perc_impact1":{},"perc_impact2":{},"perc_snap":{},"perc_snap2":{},"perc_swash":{},"perc_swoosh":{},"perc_till":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"sn_dolf":{},"sn_dub":{},"sn_generic":{},"sn_zome":{},"snare":{"synth":true},"stab":{},"tabla":{},"tabla_dhec":{},"tabla_ghe1":{},"tabla_ghe2":{},"tabla_ghe3":{},"tabla_ghe4":{},"tabla_ghe5":{},"tabla_ghe6":{},"tabla_ghe7":{},"tabla_ghe8":{},"tabla_ke1":{},"tabla_ke2":{},"tabla_ke3":{},"tabla_na":{},"tabla_na_o":{},"tabla_na_s":{},"tabla_re":{},"tabla_tas1":{},"tabla_tas2":{},"tabla_tas3":{},"tabla_te1":{},"tabla_te2":{},"tabla_te_m":{},"tabla_te_ne":{},"tabla_tun1":{},"tabla_tun2":{},"tabla_tun3":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"vinyl_backspin":{},"vinyl_hiss":{},"vinyl_rewind":{},"vinyl_scratch":{},"voodoo":{}},"x":1070,"y":420,"wires":[["c3452eae.7905f"]]},{"id":"db510773.4e1a08","type":"synth","z":"98a813ac.89ac4","name":"","synthtype":"kick","tuned":"all","volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"synthtypes":{"ambi_choir":{},"ambi_dark_woosh":{},"ambi_drone":{"tuned":true,"midibase":60},"ambi_glass_hum":{"tuned":true,"midibase":57},"ambi_glass_rub":{"tuned":true,"midibase":66},"ambi_haunted_hum":{"tuned":true,"midibase":63.25},"ambi_lunar_land":{},"ambi_piano":{"tuned":true,"midibase":58},"ambi_sauna":{},"ambi_soft_buzz":{"tuned":true,"midibase":54.45},"ambi_swoosh":{},"arpy":{"tuned":true},"bass_dnb_f":{"tuned":true,"midibase":53},"bass_drop_c":{"tuned":true,"midibase":48},"bass_hard_c":{"tuned":true,"midibase":48},"bass_hit_c":{"tuned":true,"midibase":51},"bass_thick_c":{"tuned":true,"midibase":48},"bass_trance_c":{"tuned":true,"midibase":48},"bass_voxy_c":{"tuned":true,"midibase":48},"bass_voxy_hit_c":{"tuned":true,"midibase":48},"bass_woodsy_c":{"tuned":true,"midibase":48},"bd_808":{},"bd_ada":{},"bd_boom":{},"bd_fat":{},"bd_gas":{},"bd_haus":{},"bd_klub":{},"bd_mehackit":{},"bd_pure":{},"bd_sone":{},"bd_tek":{},"bd_zome":{},"bd_zum":{},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drum_bass_hard":{},"drum_bass_soft":{},"drum_cowbell":{},"drum_cymbal_closed":{},"drum_cymbal_hard":{},"drum_cymbal_open":{},"drum_cymbal_pedal":{},"drum_cymbal_soft":{},"drum_heavy_kick":{},"drum_roll":{},"drum_snare_hard":{},"drum_snare_soft":{},"drum_splash_hard":{},"drum_splash_soft":{},"drum_tom_hi_hard":{},"drum_tom_hi_soft":{},"drum_tom_lo_hard":{},"drum_tom_lo_soft":{},"drum_tom_mid_hard":{},"drum_tom_mid_soft":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"elec_beep":{},"elec_bell":{"tuned":true,"midibase":53},"elec_blip":{"tuned":true,"midibase":62},"elec_blip2":{"tuned":true,"midibase":62},"elec_blup":{},"elec_bong":{},"elec_chime":{},"elec_cymbal":{},"elec_filt_snare":{},"elec_flip":{"tuned":true,"midibase":60},"elec_fuzz_tom":{},"elec_hi_snare":{},"elec_hollow_kick":{},"elec_lo_snare":{},"elec_mid_snare":{},"elec_ping":{"tuned":true,"midibase":69},"elec_plip":{},"elec_pop":{"tuned":true,"midibase":60},"elec_snare":{},"elec_soft_kick":{"tuned":true,"midibase":41},"elec_tick":{"tuned":true,"midibase":60},"elec_triangle":{},"elec_twang":{},"elec_twip":{},"elec_wood":{},"feel":{},"flick":{"tuned":true},"fmtanh":{"tuned":true,"synth":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true},"glitch_bass_g":{"tuned":true,"midibase":55},"glitch_perc1":{},"glitch_perc2":{},"glitch_perc3":{},"glitch_perc4":{},"glitch_perc5":{},"glitch_robot1":{},"glitch_robot2":{},"gretsch":{},"guit_e_fifths":{"tuned":true,"midibase":52},"guit_e_slide":{"tuned":true,"midibase":64},"guit_em9":{"tuned":true,"midibase":52},"guit_harmonics":{"tuned":true,"midibase":64},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"mehackit_phone1":{},"mehackit_phone2":{},"mehackit_phone3":{},"mehackit_phone4":{},"mehackit_robot1":{},"mehackit_robot2":{},"mehackit_robot3":{},"mehackit_robot4":{},"mehackit_robot5":{},"mehackit_robot6":{},"mehackit_robot7":{},"metal":{},"misc_burp":{},"misc_cineboom":{},"misc_clap":{},"misc_crow":{},"moog":{"tuned":true,"synth":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"perc_bell":{},"perc_bell2":{},"perc_door":{},"perc_impact1":{},"perc_impact2":{},"perc_snap":{},"perc_snap2":{},"perc_swash":{},"perc_swoosh":{},"perc_till":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"sn_dolf":{},"sn_dub":{},"sn_generic":{},"sn_zome":{},"snare":{"synth":true},"stab":{},"tabla":{},"tabla_dhec":{},"tabla_ghe1":{},"tabla_ghe2":{},"tabla_ghe3":{},"tabla_ghe4":{},"tabla_ghe5":{},"tabla_ghe6":{},"tabla_ghe7":{},"tabla_ghe8":{},"tabla_ke1":{},"tabla_ke2":{},"tabla_ke3":{},"tabla_na":{},"tabla_na_o":{},"tabla_na_s":{},"tabla_re":{},"tabla_tas1":{},"tabla_tas2":{},"tabla_tas3":{},"tabla_te1":{},"tabla_te2":{},"tabla_te_m":{},"tabla_te_ne":{},"tabla_tun1":{},"tabla_tun2":{},"tabla_tun3":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"vinyl_backspin":{},"vinyl_hiss":{},"vinyl_rewind":{},"vinyl_scratch":{},"voodoo":{}},"x":1070,"y":460,"wires":[["c3452eae.7905f"]]},{"id":"eb84a703.a0b8d8","type":"synth","z":"98a813ac.89ac4","name":"","synthtype":"misc_clap","tuned":"untuned","volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"synthtypes":{"ambi_choir":{},"ambi_dark_woosh":{},"ambi_drone":{"tuned":true,"midibase":60},"ambi_glass_hum":{"tuned":true,"midibase":57},"ambi_glass_rub":{"tuned":true,"midibase":66},"ambi_haunted_hum":{"tuned":true,"midibase":63.25},"ambi_lunar_land":{},"ambi_piano":{"tuned":true,"midibase":58},"ambi_sauna":{},"ambi_soft_buzz":{"tuned":true,"midibase":54.45},"ambi_swoosh":{},"arpy":{"tuned":true},"bass_dnb_f":{"tuned":true,"midibase":53},"bass_drop_c":{"tuned":true,"midibase":48},"bass_hard_c":{"tuned":true,"midibase":48},"bass_hit_c":{"tuned":true,"midibase":51},"bass_thick_c":{"tuned":true,"midibase":48},"bass_trance_c":{"tuned":true,"midibase":48},"bass_voxy_c":{"tuned":true,"midibase":48},"bass_voxy_hit_c":{"tuned":true,"midibase":48},"bass_woodsy_c":{"tuned":true,"midibase":48},"bd_808":{},"bd_ada":{},"bd_boom":{},"bd_fat":{},"bd_gas":{},"bd_haus":{},"bd_klub":{},"bd_mehackit":{},"bd_pure":{},"bd_sone":{},"bd_tek":{},"bd_zome":{},"bd_zum":{},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drum_bass_hard":{},"drum_bass_soft":{},"drum_cowbell":{},"drum_cymbal_closed":{},"drum_cymbal_hard":{},"drum_cymbal_open":{},"drum_cymbal_pedal":{},"drum_cymbal_soft":{},"drum_heavy_kick":{},"drum_roll":{},"drum_snare_hard":{},"drum_snare_soft":{},"drum_splash_hard":{},"drum_splash_soft":{},"drum_tom_hi_hard":{},"drum_tom_hi_soft":{},"drum_tom_lo_hard":{},"drum_tom_lo_soft":{},"drum_tom_mid_hard":{},"drum_tom_mid_soft":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"elec_beep":{},"elec_bell":{"tuned":true,"midibase":53},"elec_blip":{"tuned":true,"midibase":62},"elec_blip2":{"tuned":true,"midibase":62},"elec_blup":{},"elec_bong":{},"elec_chime":{},"elec_cymbal":{},"elec_filt_snare":{},"elec_flip":{"tuned":true,"midibase":60},"elec_fuzz_tom":{},"elec_hi_snare":{},"elec_hollow_kick":{},"elec_lo_snare":{},"elec_mid_snare":{},"elec_ping":{"tuned":true,"midibase":69},"elec_plip":{},"elec_pop":{"tuned":true,"midibase":60},"elec_snare":{},"elec_soft_kick":{"tuned":true,"midibase":41},"elec_tick":{"tuned":true,"midibase":60},"elec_triangle":{},"elec_twang":{},"elec_twip":{},"elec_wood":{},"feel":{},"flick":{"tuned":true},"fmtanh":{"tuned":true,"synth":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true},"glitch_bass_g":{"tuned":true,"midibase":55},"glitch_perc1":{},"glitch_perc2":{},"glitch_perc3":{},"glitch_perc4":{},"glitch_perc5":{},"glitch_robot1":{},"glitch_robot2":{},"gretsch":{},"guit_e_fifths":{"tuned":true,"midibase":52},"guit_e_slide":{"tuned":true,"midibase":64},"guit_em9":{"tuned":true,"midibase":52},"guit_harmonics":{"tuned":true,"midibase":64},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"mehackit_phone1":{},"mehackit_phone2":{},"mehackit_phone3":{},"mehackit_phone4":{},"mehackit_robot1":{},"mehackit_robot2":{},"mehackit_robot3":{},"mehackit_robot4":{},"mehackit_robot5":{},"mehackit_robot6":{},"mehackit_robot7":{},"metal":{},"misc_burp":{},"misc_cineboom":{},"misc_clap":{},"misc_crow":{},"moog":{"tuned":true,"synth":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"perc_bell":{},"perc_bell2":{},"perc_door":{},"perc_impact1":{},"perc_impact2":{},"perc_snap":{},"perc_snap2":{},"perc_swash":{},"perc_swoosh":{},"perc_till":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"sn_dolf":{},"sn_dub":{},"sn_generic":{},"sn_zome":{},"snare":{"synth":true},"stab":{},"tabla":{},"tabla_dhec":{},"tabla_ghe1":{},"tabla_ghe2":{},"tabla_ghe3":{},"tabla_ghe4":{},"tabla_ghe5":{},"tabla_ghe6":{},"tabla_ghe7":{},"tabla_ghe8":{},"tabla_ke1":{},"tabla_ke2":{},"tabla_ke3":{},"tabla_na":{},"tabla_na_o":{},"tabla_na_s":{},"tabla_re":{},"tabla_tas1":{},"tabla_tas2":{},"tabla_tas3":{},"tabla_te1":{},"tabla_te2":{},"tabla_te_m":{},"tabla_te_ne":{},"tabla_tun1":{},"tabla_tun2":{},"tabla_tun3":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"vinyl_backspin":{},"vinyl_hiss":{},"vinyl_rewind":{},"vinyl_scratch":{},"voodoo":{}},"x":1080,"y":500,"wires":[["c3452eae.7905f"]]},{"id":"b0722ecd.dee14","type":"synth","z":"98a813ac.89ac4","name":"","synthtype":"crow","tuned":"untuned","volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"synthtypes":{"ambi_choir":{},"ambi_dark_woosh":{},"ambi_drone":{"tuned":true,"midibase":60},"ambi_glass_hum":{"tuned":true,"midibase":57},"ambi_glass_rub":{"tuned":true,"midibase":66},"ambi_haunted_hum":{"tuned":true,"midibase":63.25},"ambi_lunar_land":{},"ambi_piano":{"tuned":true,"midibase":58},"ambi_sauna":{},"ambi_soft_buzz":{"tuned":true,"midibase":54.45},"ambi_swoosh":{},"arpy":{"tuned":true},"bass_dnb_f":{"tuned":true,"midibase":53},"bass_drop_c":{"tuned":true,"midibase":48},"bass_hard_c":{"tuned":true,"midibase":48},"bass_hit_c":{"tuned":true,"midibase":51},"bass_thick_c":{"tuned":true,"midibase":48},"bass_trance_c":{"tuned":true,"midibase":48},"bass_voxy_c":{"tuned":true,"midibase":48},"bass_voxy_hit_c":{"tuned":true,"midibase":48},"bass_woodsy_c":{"tuned":true,"midibase":48},"bd_808":{},"bd_ada":{},"bd_boom":{},"bd_fat":{},"bd_gas":{},"bd_haus":{},"bd_klub":{},"bd_mehackit":{},"bd_pure":{},"bd_sone":{},"bd_tek":{},"bd_zome":{},"bd_zum":{},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drum_bass_hard":{},"drum_bass_soft":{},"drum_cowbell":{},"drum_cymbal_closed":{},"drum_cymbal_hard":{},"drum_cymbal_open":{},"drum_cymbal_pedal":{},"drum_cymbal_soft":{},"drum_heavy_kick":{},"drum_roll":{},"drum_snare_hard":{},"drum_snare_soft":{},"drum_splash_hard":{},"drum_splash_soft":{},"drum_tom_hi_hard":{},"drum_tom_hi_soft":{},"drum_tom_lo_hard":{},"drum_tom_lo_soft":{},"drum_tom_mid_hard":{},"drum_tom_mid_soft":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"elec_beep":{},"elec_bell":{"tuned":true,"midibase":53},"elec_blip":{"tuned":true,"midibase":62},"elec_blip2":{"tuned":true,"midibase":62},"elec_blup":{},"elec_bong":{},"elec_chime":{},"elec_cymbal":{},"elec_filt_snare":{},"elec_flip":{"tuned":true,"midibase":60},"elec_fuzz_tom":{},"elec_hi_snare":{},"elec_hollow_kick":{},"elec_lo_snare":{},"elec_mid_snare":{},"elec_ping":{"tuned":true,"midibase":69},"elec_plip":{},"elec_pop":{"tuned":true,"midibase":60},"elec_snare":{},"elec_soft_kick":{"tuned":true,"midibase":41},"elec_tick":{"tuned":true,"midibase":60},"elec_triangle":{},"elec_twang":{},"elec_twip":{},"elec_wood":{},"feel":{},"flick":{"tuned":true},"fmtanh":{"tuned":true,"synth":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true},"glitch_bass_g":{"tuned":true,"midibase":55},"glitch_perc1":{},"glitch_perc2":{},"glitch_perc3":{},"glitch_perc4":{},"glitch_perc5":{},"glitch_robot1":{},"glitch_robot2":{},"gretsch":{},"guit_e_fifths":{"tuned":true,"midibase":52},"guit_e_slide":{"tuned":true,"midibase":64},"guit_em9":{"tuned":true,"midibase":52},"guit_harmonics":{"tuned":true,"midibase":64},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"mehackit_phone1":{},"mehackit_phone2":{},"mehackit_phone3":{},"mehackit_phone4":{},"mehackit_robot1":{},"mehackit_robot2":{},"mehackit_robot3":{},"mehackit_robot4":{},"mehackit_robot5":{},"mehackit_robot6":{},"mehackit_robot7":{},"metal":{},"misc_burp":{},"misc_cineboom":{},"misc_clap":{},"misc_crow":{},"moog":{"tuned":true,"synth":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"perc_bell":{},"perc_bell2":{},"perc_door":{},"perc_impact1":{},"perc_impact2":{},"perc_snap":{},"perc_snap2":{},"perc_swash":{},"perc_swoosh":{},"perc_till":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"sn_dolf":{},"sn_dub":{},"sn_generic":{},"sn_zome":{},"snare":{"synth":true},"stab":{},"tabla":{},"tabla_dhec":{},"tabla_ghe1":{},"tabla_ghe2":{},"tabla_ghe3":{},"tabla_ghe4":{},"tabla_ghe5":{},"tabla_ghe6":{},"tabla_ghe7":{},"tabla_ghe8":{},"tabla_ke1":{},"tabla_ke2":{},"tabla_ke3":{},"tabla_na":{},"tabla_na_o":{},"tabla_na_s":{},"tabla_re":{},"tabla_tas1":{},"tabla_tas2":{},"tabla_tas3":{},"tabla_te1":{},"tabla_te2":{},"tabla_te_m":{},"tabla_te_ne":{},"tabla_tun1":{},"tabla_tun2":{},"tabla_tun3":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"vinyl_backspin":{},"vinyl_hiss":{},"vinyl_rewind":{},"vinyl_scratch":{},"voodoo":{}},"x":1070,"y":540,"wires":[["c3452eae.7905f"]]}]