examples/example_fancybeat.json
[{"id":"4bee81d9.7fa3d","type":"beat","z":"d9aabcfa.c7112","name":"","output":"beat","bpm":"200","latency":"50","subBeats":[{"name":"quaver","count":"2"}],"x":350,"y":100,"wires":[["ffcb3fad.7d728"]]},{"id":"7fb2e905.41cf78","type":"inject","z":"d9aabcfa.c7112","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":60,"wires":[["4bee81d9.7fa3d"]]},{"id":"29c0587d.87b098","type":"inject","z":"d9aabcfa.c7112","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":100,"wires":[["4bee81d9.7fa3d"]]},{"id":"d06138b5.089c88","type":"inject","z":"d9aabcfa.c7112","name":"","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":140,"wires":[["4bee81d9.7fa3d"]]},{"id":"ffcb3fad.7d728","type":"divider","z":"d9aabcfa.c7112","name":"bar","input":"beat","output":"bar","ratio":"7","x":480,"y":100,"wires":[["f12baa70.02b3d8"]]},{"id":"f12baa70.02b3d8","type":"divider","z":"d9aabcfa.c7112","name":"section","input":"bar","output":"section","ratio":"4","x":630,"y":100,"wires":[["8106bf1e.2f3a7"]]},{"id":"8106bf1e.2f3a7","type":"link out","z":"d9aabcfa.c7112","name":"beat generator","links":["8243efd3.79eb9","96f62962.7de988","47574d38.834f34","a5e292a9.7a44a"],"x":745,"y":100,"wires":[]},{"id":"832e2ef2.b18e3","type":"udp out","z":"d9aabcfa.c7112","name":"","addr":"127.0.0.1","iface":"","port":"57110","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":610,"y":740,"wires":[]},{"id":"d78f3d6b.ad429","type":"osc","z":"d9aabcfa.c7112","name":"","path":"","metadata":false,"x":390,"y":740,"wires":[["832e2ef2.b18e3"]]},{"id":"385e60c5.405df","type":"link in","z":"d9aabcfa.c7112","name":"supercollider","links":["d613ca4c.61a728","abf016fe.62ad58","37d29f94.7eedf","5983a35d.494c7c"],"x":275,"y":740,"wires":[["d78f3d6b.ad429"]]},{"id":"65e6bda5.bec3b4","type":"switch","z":"d9aabcfa.c7112","name":"beat of bar","property":"beat_of_bar","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"}],"checkall":"true","outputs":7,"x":490,"y":260,"wires":[["7a96dd3f.9452d4"],["da5a0669.109218"],["7a96dd3f.9452d4"],[],["7a96dd3f.9452d4"],["ae06e8a0.fa40c8"],["a6185fdf.90f7c"]]},{"id":"da5a0669.109218","type":"synth","z":"d9aabcfa.c7112","name":"","synthtype":"cp","tuned":"all","volume":50,"octave":0,"root":"","scale":"default","degree":"","outBus":0,"synthtypes":{"arpy":{"tuned":true},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cp":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"feel":{},"flick":{"tuned":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true,"sustained":true},"gretsch":{},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"metal":{},"moog":{"tuned":true,"synth":true,"sustained":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true,"sustained":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"snare":{"synth":true},"stab":{},"tabla":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"voodoo":{}},"x":830,"y":280,"wires":[["5983a35d.494c7c"]]},{"id":"a5e292a9.7a44a","type":"link in","z":"d9aabcfa.c7112","name":"","links":["8106bf1e.2f3a7"],"x":195,"y":260,"wires":[["30b44f25.8c3d9"]]},{"id":"5983a35d.494c7c","type":"link out","z":"d9aabcfa.c7112","name":"","links":["385e60c5.405df"],"x":975,"y":260,"wires":[]},{"id":"a6185fdf.90f7c","type":"synth","z":"d9aabcfa.c7112","name":"","synthtype":"kick","tuned":"untuned","volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"synthtypes":{"arpy":{"tuned":true},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cp":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"feel":{},"flick":{"tuned":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true},"gretsch":{},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"metal":{},"moog":{"tuned":true,"synth":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"snare":{"synth":true},"stab":{},"tabla":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"voodoo":{}},"x":830,"y":240,"wires":[["5983a35d.494c7c"]]},{"id":"7a96dd3f.9452d4","type":"switch","z":"d9aabcfa.c7112","name":"beat","property":"start","propertyType":"msg","rules":[{"t":"cont","v":"beat","vt":"str"}],"checkall":"true","outputs":1,"x":650,"y":200,"wires":[["a6185fdf.90f7c","75bdb4b7.2e46cc"]]},{"id":"ae06e8a0.fa40c8","type":"synth","z":"d9aabcfa.c7112","name":"","synthtype":"crow","tuned":"untuned","volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"synthtypes":{"arpy":{"tuned":true},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cp":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"feel":{},"flick":{"tuned":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true},"gretsch":{},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"metal":{},"moog":{"tuned":true,"synth":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"snare":{"synth":true},"stab":{},"tabla":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"voodoo":{}},"x":830,"y":320,"wires":[["5983a35d.494c7c"]]},{"id":"30b44f25.8c3d9","type":"switch","z":"d9aabcfa.c7112","name":"","property":"bar_of_section","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":300,"y":260,"wires":[["65e6bda5.bec3b4","25748ae5.dd5156"],["65e6bda5.bec3b4"]]},{"id":"25748ae5.dd5156","type":"synth","z":"d9aabcfa.c7112","name":"","synthtype":"tabla","tuned":"all","volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"synthtypes":{"arpy":{"tuned":true},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cp":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"feel":{},"flick":{"tuned":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true},"gretsch":{},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"metal":{},"moog":{"tuned":true,"synth":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"snare":{"synth":true},"stab":{},"tabla":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"voodoo":{}},"x":360,"y":400,"wires":[["d78f3d6b.ad429"]]},{"id":"75bdb4b7.2e46cc","type":"synth","z":"d9aabcfa.c7112","name":"","synthtype":"moog","tuned":"all","volume":50,"octave":"-2","root":"","scale":"","degree":"","outBus":0,"synthtypes":{"arpy":{"tuned":true},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cp":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"feel":{},"flick":{"tuned":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true},"gretsch":{},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"metal":{},"moog":{"tuned":true,"synth":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"snare":{"synth":true},"stab":{},"tabla":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"voodoo":{}},"x":830,"y":200,"wires":[["5983a35d.494c7c"]]}]