examples/components/beatgenerator.json
[{"id":"b21bdb5b.c24a68","type":"beat","z":"5def44a.dac64bc","name":"","output":"beat","bpm":"","latency":0,"subBeats":[],"x":270,"y":80,"wires":[["f623f8fe.d5ec38"]]},{"id":"ee1d08da.950d58","type":"inject","z":"5def44a.dac64bc","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":40,"wires":[["b21bdb5b.c24a68"]]},{"id":"7983eb76.584534","type":"inject","z":"5def44a.dac64bc","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":80,"wires":[["b21bdb5b.c24a68"]]},{"id":"ec11dac2.b5c108","type":"inject","z":"5def44a.dac64bc","name":"","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":120,"wires":[["b21bdb5b.c24a68"]]},{"id":"f623f8fe.d5ec38","type":"divider","z":"5def44a.dac64bc","name":"bar","input":"beat","output":"bar","ratio":4,"x":410,"y":80,"wires":[["e2666e6f.c81b7"]]},{"id":"e2666e6f.c81b7","type":"divider","z":"5def44a.dac64bc","name":"section","input":"bar","output":"section","ratio":"8","x":560,"y":80,"wires":[["467784bc.dcbf2c"]]},{"id":"467784bc.dcbf2c","type":"link out","z":"5def44a.dac64bc","name":"beat generator","links":["52699e6a.2c8e4"],"x":675,"y":80,"wires":[]}]