examples/components/settings.json
[{"id":"3e6b7434.a83cfc","type":"setting","z":"e9dc3b95.ebdad8","name":"","setting":"key","initial":"C minor","global":true,"min":"","max":"","x":390,"y":420,"wires":[[]]},{"id":"348e8c38.9b3a04","type":"inject","z":"e9dc3b95.ebdad8","name":"","topic":"up","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":120,"wires":[["8160864.017e478"]]},{"id":"52ac84b1.b6822c","type":"inject","z":"e9dc3b95.ebdad8","name":"","topic":"down","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":160,"wires":[["8160864.017e478"]]},{"id":"8160864.017e478","type":"setting","z":"e9dc3b95.ebdad8","name":"","setting":"bpm","initial":"100","global":true,"min":"10","max":"1000","x":390,"y":120,"wires":[["6a2eb4f8.35f40c"]]},{"id":"6a2eb4f8.35f40c","type":"ui_slider","z":"e9dc3b95.ebdad8","name":"","label":"bpm","group":"4d5405c2.b7e01c","order":0,"width":0,"height":0,"passthru":true,"topic":"bpm","min":"10","max":"1000","step":1,"x":390,"y":60,"wires":[["8160864.017e478"]]},{"id":"a138d397.eee74","type":"inject","z":"e9dc3b95.ebdad8","name":"","topic":"up","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":280,"wires":[["d640bf19.07782"]]},{"id":"40efb63.4f31a48","type":"inject","z":"e9dc3b95.ebdad8","name":"","topic":"down","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":320,"wires":[["d640bf19.07782"]]},{"id":"d640bf19.07782","type":"setting","z":"e9dc3b95.ebdad8","name":"","setting":"volume","initial":"50","global":false,"min":"0","max":"100","x":400,"y":280,"wires":[["cf6061f9.0fb04"]]},{"id":"cf6061f9.0fb04","type":"ui_slider","z":"e9dc3b95.ebdad8","name":"","label":"volume","group":"b295aa0e.a97728","order":0,"width":0,"height":0,"passthru":true,"topic":"volume","min":"0","max":"100","step":1,"x":400,"y":220,"wires":[["d640bf19.07782"]]},{"id":"4d5405c2.b7e01c","type":"ui_group","z":"","name":"Default","tab":"f575f16e.8cc13","disp":true,"width":"6"},{"id":"b295aa0e.a97728","type":"ui_group","z":"","name":"Default","tab":"6b5ed74c.671078","disp":true,"width":"6"},{"id":"f575f16e.8cc13","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"6b5ed74c.671078","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]