examples/components/soundfx_LPF.json
[{"id":"796b0294.6a5f2c","type":"link in","z":"5def44a.dac64bc","name":"LPFOSC","links":[],"x":495,"y":540,"wires":[["b1801eef.cd367"]]},{"id":"b1801eef.cd367","type":"soundfx","z":"5def44a.dac64bc","fxtype":"LPF","fxtypes":{"reverb":{"inBus":4},"delay":{"inBus":6},"LPF":{"inBus":8},"HPF":{"inBus":10},"drop":{"inBus":12}},"x":670,"y":540,"wires":[["849505c9.f9b1b8"]]},{"id":"22471df9.04c3e2","type":"lfo-node","z":"5def44a.dac64bc","name":"","waveform":"saw_i","frequency":"0.2","samplingrate":"50","x":250,"y":620,"wires":[["162a117e.4987ef"]]},{"id":"162a117e.4987ef","type":"change","z":"5def44a.dac64bc","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"fxcontrol:midi","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"68+ msg.payload*60","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":620,"wires":[["b1801eef.cd367"]]},{"id":"87a99d04.5ed5a","type":"inject","z":"5def44a.dac64bc","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":600,"wires":[["22471df9.04c3e2"]]},{"id":"5aa1c850.df0118","type":"inject","z":"5def44a.dac64bc","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":640,"wires":[["22471df9.04c3e2"]]},{"id":"849505c9.f9b1b8","type":"link out","z":"5def44a.dac64bc","name":"","links":["227f73d8.e4ac5c"],"x":755,"y":540,"wires":[]},{"id":"2a8d693b.bd9576","type":"link in","z":"5def44a.dac64bc","name":"","links":[],"x":35,"y":740,"wires":[["86d4e94.8475418"]]},{"id":"86d4e94.8475418","type":"sequencer","z":"5def44a.dac64bc","name":"sequencer","input":"beat","notesrand":false,"rhythm":"[8]","rhythmrand":false,"loop":true,"start":"bar","output":"all","controls":[{"name":"topic","values":"[\"up\",\"down\"]"}],"x":150,"y":740,"wires":[["1b581691.fc8d69"],[]]},{"id":"1b581691.fc8d69","type":"sequencer","z":"5def44a.dac64bc","name":"sequencer","input":"beat","notesrand":false,"rhythm":"[1]","rhythmrand":false,"loop":true,"start":"bar","output":"single","controls":[{"name":"payload","values":"10"}],"x":330,"y":740,"wires":[["e9984fbf.1a2a5"],[]]},{"id":"e9984fbf.1a2a5","type":"setting","z":"5def44a.dac64bc","name":"","setting":"fxcontrol:midi","initial":"128","global":false,"min":"1","max":"128","x":520,"y":740,"wires":[[]]},{"id":"9e7f7b09.6c5a88","type":"comment","z":"5def44a.dac64bc","name":"Option b: sequencer to control cutoff","info":"Send the output of the second sequencer to the input of the LPF","x":670,"y":800,"wires":[]},{"id":"4ad4c44d.96ec6c","type":"comment","z":"5def44a.dac64bc","name":"Option a: use an oscillator to control cutoff","info":"","x":543,"y":660,"wires":[]},{"id":"b60da058.7a3ca","type":"comment","z":"5def44a.dac64bc","name":"Synth messages arrive here","info":"","x":480,"y":500,"wires":[]},{"id":"dc2e9eb2.9d1c7","type":"comment","z":"5def44a.dac64bc","name":"Beats arrive here","info":"","x":80,"y":780,"wires":[]},{"id":"c9cdc948.674a28","type":"comment","z":"5def44a.dac64bc","name":"Send to supercollider via OSC","info":"","x":845,"y":574,"wires":[]}]